<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RefIT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RefIT.My.MySettings>
            <setting name="CPR" serializeAs="String">
                <value>CPR.nr</value>
            </setting>
            <setting name="ProveDato" serializeAs="String">
                <value>Prv.Dato</value>
            </setting>
            <setting name="Kvantitet" serializeAs="String">
                <value>Kvn</value>
            </setting>
            <setting name="Resultat" serializeAs="String">
                <value>Resultat</value>
            </setting>
            <setting name="Enhed" serializeAs="String">
                <value>Enhed</value>
            </setting>
            <setting name="TidsInterval" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="RkvStatus" serializeAs="String">
                <value>Rkv.status</value>
            </setting>
            <setting name="FractilHoj" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="FractilLav" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Notificationemail" serializeAs="String">
                <value>renmigmsn@outlook.dk</value>
            </setting>
            <setting name="Kon" serializeAs="String">
                <value>Køn</value>
            </setting>
            <setting name="Alder" serializeAs="String">
                <value>Alder</value>
            </setting>
            <setting name="IncludeZero" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Birthday" serializeAs="String">
                <value>DayOfBirth</value>
            </setting>
            <setting name="PerMethod" serializeAs="String">
                <value>C=0 - Excel after v. 2013</value>
            </setting>
        </RefIT.My.MySettings>
    </userSettings>
</configuration>